name: CI

on:
  push:

jobs:
  test:
    name: Node Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x, 20.x]

    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm ci
    - run: npm run build
    - run: npm run format:check
    - run: npm run test

  test_latest:
    name: Test for Latest Node.js
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 'lts/*'

      - name: Install latest npm
        run: |
          echo "Current npm version: $(npm -v)"
          npm install -g npm@latest
          echo "Updated npm version: $(npm -v)"

      - run: npm ci
      - run: npm run build
      - run: npm test
